html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #7BAFD4;
}

.p {
  color: rgb(77, 88, 94);
}

.h4 {
  font-weight: normal;
}

.h5 {
  font-weight: normal;
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin .form-floating:focus-within {
  z-index: 2;
}

.signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.create-account {
  padding-bottom: 10px;
}

.create_account, p {
  color: rgb(77, 88, 94);
}

.have-account {
  padding-bottom: -10px;
  padding-top: -10px;
}
